* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#c7bbb0;
    color: #5F6F52;
}

#main {
    background-color: #FEFAE0;
    width: 600px;
    border: 10px solid #A9B388;
    border-radius: 10px 30px;
    margin: 0 auto;
}

#intro {
    font-size: 16px;
    margin: 25px;
}

h1 {
    font-size: 50px;
    margin: 20px;
    text-align: center;
}

button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 20px auto;
    border: 3px solid #5F6F52;
    border-radius: 5px 10px;
    font-size: 30px;
}